# Node
node_modules
npm-debug.log

# Build
dist
coverage

# Local env files (unless you want to include them)
# .env
# .env.*

# OS and IDE files
.DS_Store
.vscode
.idea

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml